@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Source+Code+Pro&display=swap');

:root {
  --pst-font-family-base: 'Open Sans', sans-serif; 
  --pst-font-family-heading: 'Montserrat', sans-serif;
  --pst-font-family-monospace: 'Source Code Pro', monospace !important;
}

html {
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}

/*  Increase spaceing before header */
h1 {
    margin-top: 40px;
}

/*  Code cells */
tt, code, kbd, samp, pre {
    font-family: 'Source Code Pro', monospace !important;    
}

/* Glued values pasted inline */
.pasted-inline .pre {
    color: #000000 !important;
    font-family: var(--pst-font-family-base);
    font-size: 15px;
}

/* bar on left of margin comment, but not on its title */
div.margin.sidebar p:not(.sidebar-title) {
    text-align: left;
    border-left: 2px solid #0071bc;
    padding: 5px;
}

/* center images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/* center tables -- not working */
table.colwidths-auto {
  margin-left: auto;
  margin-right: auto;
}

/* footnotes */
a.footnote-reference {
    vertical-align: super;
    font-size: 0.8em !important;
}

/* external links */
a.reference.external::after {
    content: '(external link)';
    display: inline-block;
    width: .8em;
    height: .8em;
    text-indent: .8em;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(extlink.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: .2em;
}

/****************************************************************
New admonitions
****************************************************************/

.admonition-key-fact {
    border-left-color: rgba(var(--pst-color-warning), 1);
}
.admonition-key-fact .admonition-title {
    background-color: rgba(var(--pst-color-warning), .1)
}
.admonition-key-fact .admonition-title:before {
    color: rgba(var(--pst-color-warning), 1);
    content: '\f084';
}

.admonition-extra-credit {
    border-left-color: rgba(var(--pst-color-info), 1);
}
.admonition-extra-credit .admonition-title {
    background-color: rgba(var(--pst-color-info), .1)
}
.admonition-extra-credit .admonition-title:before {
    color: rgba(var(--pst-color-info), 1);
    content: '\f19d';
}

.admonition-exercise {
    border-left-color: rgba(var(--pst-color-success), 1);
}
.admonition-exercise .admonition-title {
    background-color: rgba(var(--pst-color-success), .1)
}
.admonition-exercise .admonition-title:before {
    color: rgba(var(--pst-color-success), 1);
    content: '\f303';
}

.admonition-solution {
    border-left-color: rgba(var(--pst-color-success), 1);
}
.admonition-solution .admonition-title {
    background-color: rgba(var(--pst-color-success), .1)
}
.admonition-solution .admonition-title:before {
    color: rgba(var(--pst-color-success), 1);
    content: '\f530';
}